### Set up notebook

In [1]:
import os
os.chdir('../')
os.getcwd()

'/Users/Cisco/Desktop/Master_Dauphine/M2_IEF/cours/semestre2/MachineLearning/projet'

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

### Import raw data

In [3]:
data = pd.read_csv('data/cac40_v3.csv').drop('Unnamed: 0', axis=1)
data

,TICKER,annee,mois,jour,OP,UP,DO,CL,VO,RDMT_J,...,strategique,transaction,actionnaires,coentreprise,construction,collaboration,developpement,l_acquisition,participation,recommandation
0,AC,2007,10,1,50.820,52.450,50.720,52.440,939518,0.045576,...,0,0,0,0,0,0,0,0,0,0
1,AC,2007,10,10,57.600,57.900,56.480,56.740,1167710,0.005640,...,0,0,0,0,0,0,0,0,0,0
2,AC,2007,10,11,56.570,57.900,56.570,57.060,910369,-0.005258,...,0,0,0,0,0,0,0,0,0,0
3,AC,2007,10,12,57.100,57.100,55.500,56.760,996349,-0.011628,...,0,0,0,0,0,0,0,0,0,0
4,AC,2007,10,15,56.760,57.290,55.770,56.100,573647,-0.003209,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106537,VIV,2017,9,4,20.065,20.235,20.030,20.100,2250835,0.002736,...,0,0,0,0,0,0,0,0,0,0
106538,VIV,2017,9,5,20.095,20.290,19.985,20.155,3095238,-0.001985,...,0,0,0,0,0,0,0,0,0,0
106539,VIV,2017,9,6,20.080,20.210,20.015,20.115,2181925,-0.006463,...,0,0,0,0,0,0,0,0,0,0
106540,VIV,2017,9,7,20.185,20.185,19.920,19.985,4038684,-0.002252,...,0,0,0,0,0,0,0,0,0,0
106541,VIV,2017,9,8,19.865,20.025,19.820,19.940,1933282,0.024072,...,0,0,0,0,0,0,0,0,0,0

### Question 1)

Donner les charactéristiques de la base :
- Nombre de lignes
- Nombre de colonnes
- Format / Type de colonnes

In [4]:
print(f"Nombre de lignes : {data.shape[0]}")
print(f"Nombre de colonees : {data.shape[1]}")

Nombre de lignes : 106542
Nombre de colonees : 280

In [ ]:
for series_name, series in data.iteritems():
    print(f"Colonne : {series_name}, Type : {series.dtype}")

### Question 2)

Présenter quelques statistiques de la base

In [6]:
data.describe()

,annee,mois,jour,OP,UP,DO,CL,VO,RDMT_J,RDMT_S,...,strategique,transaction,actionnaires,coentreprise,construction,collaboration,developpement,l_acquisition,participation,recommandation
count,106542.000000,106542.000000,106542.000000,106542.000000,106542.000000,106542.000000,106542.000000,1.065420e+05,106542.000000,106542.000000,...,106542.000000,106542.000000,106542.000000,106542.000000,106542.000000,106542.000000,106542.000000,106542.000000,106542.000000,106542.000000
mean,2012.036887,6.538060,15.778134,52.751368,53.330280,52.129056,52.738273,2.697387e+06,0.000312,0.001493,...,0.000920,0.000826,0.000676,0.000516,0.000404,0.000300,0.000845,0.001323,0.001577,0.001577
std,3.088057,3.373755,8.739708,41.933400,42.278984,41.565587,41.932864,3.253353e+06,0.021855,0.047802,...,0.030315,0.028728,0.025987,0.022715,0.020086,0.017328,0.029052,0.036355,0.039678,0.039678
min,2007.000000,1.000000,1.000000,2.240000,2.274000,2.120000,2.196000,0.000000e+00,-0.262421,-0.375313,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2009.000000,4.000000,8.000000,23.700000,24.035000,23.315000,23.695000,6.933412e+05,-0.010156,-0.022804,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2012.000000,7.000000,16.000000,42.095000,42.600000,41.527500,42.065000,1.549323e+06,0.000174,0.001782,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,2015.000000,9.000000,23.000000,67.273375,67.990000,66.550000,67.250000,3.488776e+06,0.010599,0.025577,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,2017.000000,12.000000,31.000000,394.950000,397.000000,391.050000,395.350000,6.382521e+07,0.263158,0.520471,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

### Question 3)

Montrer que, _quelque soit le ticker_, la liste des mots apparaissant sur 400 lignes et dont le rendement mensuel est en moyenne supérieur à 1% est telle que la table dans le sujet.

In [7]:
word_flag = "avec"
ix_word_flag = np.argmax(data.columns == word_flag)
all_words = data.columns[ix_word_flag:]
not_words = data.columns[:ix_word_flag]

In [8]:
# On veut l'effet du mot, indépendamment de ticker
freq_word_ret = {}
for word in all_words:
    if data[word].sum() > 400:
        mean_return = np.mean(data["RDMT_M"].loc[data[word] == 1])
        if mean_return > 0.01:
            freq_word_ret[word] = mean_return

In [9]:
freq_word_ret

{'part': 0.011925091555993018,
 'plus': 0.010119257588012652,
 'pour': 0.013645055868837895,
 'euros': 0.010361023597468611,
 'group': 0.012940358066579583,
 'passe': 0.01376329128793489,
 'titre': 0.012178265842055443,
 'groupe': 0.014646081429147735,
 'nouvel': 0.011500023035921798,
 'releve': 0.010296593113268828,
 'actions': 0.01016788292303123,
 'capital': 0.011974752777913301,
 'contrat': 0.01057704828737451,
 'nouveau': 0.011895224332522554,
 'capital.': 0.011040725408502755,
 'nouvelle': 0.011975116627910317,
 'objectif': 0.014702096122149608,
 'resultat': 0.011162225879723832}

<b>Filtrer la base sur l'apparition de ces mots</b>

In [10]:
keepers = list(freq_word_ret.keys())
data["KEEP_ROW"] = data[keepers].sum(axis=1)
data = data.loc[~(data["KEEP_ROW"] == 0)].drop("KEEP_ROW", axis=1).reset_index(drop=True)

In [11]:
data

,TICKER,annee,mois,jour,OP,UP,DO,CL,VO,RDMT_J,...,strategique,transaction,actionnaires,coentreprise,construction,collaboration,developpement,l_acquisition,participation,recommandation
0,AC,2010,10,11,27.370,27.655,27.165,27.585,583747,0.020663,...,0,0,0,0,0,0,0,0,0,0
1,AC,2010,10,28,29.220,29.455,28.950,29.130,752703,0.011500,...,0,0,0,0,0,0,0,0,0,0
2,AC,2010,10,6,26.950,27.955,26.950,27.670,1747197,-0.022407,...,0,0,0,0,0,0,0,0,0,0
3,AC,2010,11,26,33.415,33.775,33.075,33.660,871648,-0.022133,...,0,0,0,0,0,0,0,0,0,0
4,AC,2010,11,3,29.745,29.980,29.580,29.830,880633,0.029165,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7124,VIV,2017,9,20,21.075,21.190,21.010,21.020,2787945,-0.004282,...,0,0,0,0,0,0,0,0,0,0
7125,VIV,2017,9,25,20.710,20.875,20.685,20.755,2082640,-0.001445,...,0,0,0,0,0,0,0,0,0,0
7126,VIV,2017,9,26,20.765,20.865,20.695,20.725,1622952,0.002895,...,0,0,0,0,0,0,0,0,0,0
7127,VIV,2017,9,29,21.060,21.420,20.890,21.420,6358735,0.005369,...,0,0,0,0,0,0,0,0,0,0
7128,VIV,2017,9,4,20.065,20.235,20.030,20.100,2250835,0.002736,...,0,0,0,0,0,0,0,0,0,0

### Question 4)

Retrait des variables trop corrélées (positivement ou négativement).

In [21]:
correlation_matrix = data.loc[:,~data.columns.isin(["TICKER", "annee", "mois", "jour"])].corr().abs()
upper_triangle = correlation_matrix.where(np.triu(np.ones(correlation_matrix.shape), k=1).astype(np.bool))
high_corr_vars = [col for col in upper_triangle.columns if any(upper_triangle[col] > 0.75)]

In [38]:
upper_triangle

,OP,UP,DO,CL,VO,RDMT_J,RDMT_S,RDMT_M,HISTO_J,HISTO_S,...,strategique,transaction,actionnaires,coentreprise,construction,collaboration,developpement,l_acquisition,participation,recommandation
OP,NaN,0.99985,0.999811,0.999678,0.401312,0.014809,0.022145,0.024756,0.014343,0.022452,...,0.014393,0.003516,0.030224,0.000066,0.020878,0.014714,0.010410,0.023679,0.034188,0.007700
UP,NaN,NaN,0.999763,0.999841,0.400280,0.014964,0.022452,0.024858,0.006339,0.025852,...,0.014289,0.003481,0.030304,0.000197,0.021026,0.014405,0.010245,0.023528,0.034422,0.008056
DO,NaN,NaN,NaN,0.999853,0.402853,0.014537,0.022172,0.025047,0.005734,0.027646,...,0.014225,0.003763,0.030160,0.000172,0.020833,0.014479,0.010423,0.023646,0.034155,0.007474
CL,NaN,NaN,NaN,NaN,0.401700,0.014787,0.022457,0.025037,0.001376,0.030287,...,0.014165,0.003688,0.030202,0.000351,0.020829,0.014278,0.010303,0.023674,0.034406,0.007724
VO,NaN,NaN,NaN,NaN,NaN,0.002058,0.001623,0.007629,0.001998,0.023503,...,0.004394,0.003458,0.012285,0.006834,0.009410,0.004548,0.024322,0.027537,0.045606,0.007367
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
collaboration,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.003498,0.003062,0.006107,0.004054
developpement,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.006931,0.007126,0.009175
l_acquisition,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.012102,0.008032
participation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.016019
recommandation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
data.drop(high_corr_vars, axis=1, inplace=True)

In [37]:
data

,TICKER,annee,mois,jour,OP,VO,RDMT_J,RDMT_S,RDMT_M,HISTO_J,...,strategique,transaction,actionnaires,coentreprise,construction,collaboration,developpement,l_acquisition,participation,recommandation
0,AC,2010,10,11,27.370,583747,0.020663,0.065797,0.123255,0.009700,...,0,0,0,0,0,0,0,0,0,0
1,AC,2010,10,28,29.220,752703,0.011500,0.053896,0.117920,-0.003251,...,0,0,0,0,0,0,0,0,0,0
2,AC,2010,10,6,26.950,1747197,-0.022407,0.042645,0.132093,0.030540,...,0,0,0,0,0,0,0,0,0,0
3,AC,2010,11,26,33.415,871648,-0.022133,-0.012626,0.001485,0.001339,...,0,0,0,0,0,0,0,0,0,0
4,AC,2010,11,3,29.745,880633,0.029165,0.040898,0.126383,0.004715,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7124,VIV,2017,9,20,21.075,2787945,-0.004282,-0.011180,-0.025690,-0.007085,...,0,0,0,0,0,0,0,0,0,0
7125,VIV,2017,9,25,20.710,2082640,-0.001445,0.037581,-0.002891,0.000482,...,0,0,0,0,0,0,0,0,0,0
7126,VIV,2017,9,26,20.765,1622952,0.002895,0.032569,-0.008203,-0.001445,...,0,0,0,0,0,0,0,0,0,0
7127,VIV,2017,9,29,21.060,6358735,0.005369,-0.012138,0.014006,0.029066,...,0,0,0,0,0,0,0,0,0,0
7128,VIV,2017,9,4,20.065,2250835,0.002736,0.015920,0.050249,-0.008876,...,0,0,0,0,0,0,0,0,0,0